2DMetroidvaniaDemo01/Assets/ImportAssets
2DMetroidvaniaDemo01/Library
2DMetroidvaniaDemo01/Logs
2DMetroidvaniaDemo01/obj
2DMetroidvaniaDemo01/Temp
2DMetroidvaniaDemo01/UserSettings
2DMetroidvaniaDemo01/.vs

*.meta
2DMetroidvaniaDemo01/.vsconfig
2DMetroidvaniaDemo01/2DMetroidvaniaDemo01.sln
2DMetroidvaniaDemo01/Assembly-CSharp.csproj

2DRPGDemo02/Library
2DRPGDemo02/Logs
2DRPGDemo02/obj
2DRPGDemo02/Temp
2DRPGDemo02/UserSettings
2DRPGDemo02/.vs
2DRPGDemo02/.vsconfig


